<ion-content class="auth-page">
  <div class="login-content">

    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>All-in</strong> Serviços
      </h2>
    </div>

    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nome completo
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Confirme a Senha
          </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>      
    </form>

    <div margin-top>
      <button ion-button block color="dark" tappable (click)="register()">
        CADASTRAR
      </button>

      <p text-center ion-text color="secondary">Ou entrar com:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">Já possuo cadastro</span>
    </div>

  </div>
</ion-content>
