<!-- -->
<ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>
      <ion-icon name="cog" class="text-primary"></ion-icon>
      <span class="text-primary">Configurações</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="common-bg">
  
  <ion-item-group>
    <ion-item-divider color="secondary" class="bold">Configurações do usuário</ion-item-divider>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select [(ngModel)]="language" cancelText="Cancel" okText="OK">
        <ion-option value="pt-BR" selected="true">Português (BR)</ion-option>        
        <ion-option value="en-US">Inglês (EUA)</ion-option>
        <ion-option value="es-ES">Espanhol (ES)</ion-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Moeda</ion-label>
      <ion-select [(ngModel)]="currency" cancelText="Cancelar" okText="OK">
        <ion-option value="USD">Dólar Americano (US$)</ion-option>        
        <ion-option value="EUR">Euro (€)</ion-option>
        <ion-option value="BRL" selected="true">Real (R$)</ion-option>
        
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Notificações?</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="secondary" class="bold">Configurações do App</ion-item-divider>
    <ion-item>
      <span>Limpar dados privados</span>
    </ion-item>
    <ion-item>
      <ion-label>Push Notifications?</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <span>Políticas de privacidade</span>
    </ion-item>
  </ion-item-group>  

  <button ion-button color="primary" full tappable (click)="logout()">Sair</button>

</ion-content>
