<ion-list class="no-margin">
  <ion-list-header class="no-margin">
  	<ion-icon name="notifications" color="primary"></ion-icon>
  	<span ion-text color="primary" class="bold">Notificações</span>
  </ion-list-header>
  <button ion-item color="secondary" class="text-1x" tappable (click)="close()">
  	<ion-icon name="mail"></ion-icon>
  	Nova solicitação de serviço!
  </button>
  <button ion-item color="secondary" class="text-1x" tappable (click)="close()">
  	<ion-icon name="mail"></ion-icon>
  	Nova mensagem
  </button>
  <button ion-item class="text-1x" tappable (click)="close()">
  	<ion-icon name="mail-open" color="secondary"></ion-icon>
  	<span ion-text color="secondary">Avaliação</span>
  </button>  
</ion-list>
